
<mat-card> <!--Cria um conteiner -->
    <div>
            <label class="col-auto">Número Binário</label> 
                <mat-form-field class="form-group w-50"> <!-- INFORMANDO QUE TEREMOS INSERCAO - Englobando nosso input dentro de um elemento de componente-->
                <input mdbInput type="text" class="form-control" placeholder="Digite um número binário" [(ngModel)]="numBinario" /> <!--numBinario é minha variavel -->
            </mat-form-field> 
    </div>
    <div>
        <label class="col-auto">Número Decimal</label> 
        <mat-form-field class="form-group w-50" >
            <output  type="text" class="form-control"  readonly> 
                {{numBinario}} 
            </output>
        </mat-form-field>
    </div>    
   
    <button color="primary" mat-raised-button (click)="onConverterBinario()"> Calcular </button>


</mat-card>
